section(class='actors')
    +read-more('Popular Actors & Directors  >')
    div(class='row hidden')
        img(src='images/actors/Group 87.png' class='row-elem')
        img(src='images/actors/Group 88.png' class='row-elem')
        img(src='images/actors/Group 89.png' class='row-elem')
        img(src='images/actors/Group 90.png' class='row-elem')
        img(src='images/actors/Group 91.png' class='row-elem')
        img(src='images/actors/Group 92.png' class='row-elem')