section
    +read-more('Popular Genres >')
    div(class='genres')
        +genre-block('icons/Group 35.png', 'var(--pink)')
        +genre-block('icons/Group 37.png', 'var(--green)')
        +genre-block('icons/Group 45.png', 'var(--violet)')
        +genre-block('icons/Group 39.png', 'var(--bright-orange)')
        +genre-block('icons/Group 41.png', 'var(--orange)')
        +genre-block('icons/Group 33.png', 'var(--gray-blue)')
        +genre-block('icons/Group 43.png', 'var(--yellow)')
        +genre-block('icons/Group 44.png', 'var(--dark-blue)')