doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name='keywords' content='watch movies, movies online, watch TV, TV online, watch in good quality, watch for free')
        meta(name='description' content='Do you want to watch movies online in good quality, and, of course, for free? Mbox is the best platform for watching movies, TV shows and much more.')
        link(rel='stylesheet' href='styles/styles.css')
        title Mbox - Watch Movies and TV Shows Online
    body
