include head.pug
include mixins.pug
include header.pug
main
    include movie.pug
    include shows.pug
    include movies.pug
    include genres.pug
    include actors.pug
    include novelty.pug
    include registration.pug
    include footer.pug
script(src='./scripts/script.js')