section(class='movies')
    +read-more('Trending Movies >')
    div(class='row hidden')
        img(class='row-elem' src='images/movies/11.png')
        img(class='row-elem' src='images/movies/12.png')
        img(class='row-elem' src='images/movies/13.png')
        img(class='row-elem' src='images/movies/8.png')
        img(class='row-elem' src='images/movies/9.png')
        img(class='row-elem' src='images/movies/10.png')