section(class='movies')
    +read-more('Trending Movies >')
    div(class='row hidden')
        img(class='row-elem' src='images/movies/11.png' alt='Maturing youth' title='movie')
        img(class='row-elem' src='images/movies/12.png' alt='Leap year' title='movie')
        img(class='row-elem' src='images/movies/13.png' alt='The Curse of Oak Island' title='movie')
        img(class='row-elem' src='images/movies/8.png' alt='Street-Legal' title='movie')
        img(class='row-elem' src='images/movies/9.png' alt='Interlock' title='movie')
        img(class='row-elem' src='images/movies/10.png' alt='The black echo' title='movie')