section(class='novelty')
    div(class='novelty-img')
        img(src='images/Big.Buck.Bunny.-.Opening 1.png' class='novelty-img__elem novelty-img__elem-first' alt='Big.Buck.Bunny' title='Big.Buck.Bunny')
        div(class='novelty-img__elem novelty-img__elem-last')
            img(src='images/2021 2.png' class='novelty-img__cooming-soon' alt='2021' title='coming soon')
            h2(class='title-secondary') Coming Soon...
