section(class='registr')
    div(class='registr-block')
        h2(class='title-secondary') Are You New Here ? #[br] Don’t wait, Register Now.
        button(class='btn btn-blue registr-block__btn') Register Now