section(class='shows')
    +read-more('Trending TV Shows >')
    div(class='row hidden')
        img(class='row-elem' src='images/movies/1 9.png')
        img(class='row-elem' src='images/movies/2.png')
        img(class='row-elem' src='images/movies/6.png')
        img(class='row-elem' src='images/movies/3.png')
        img(class='row-elem' src='images/movies/4.png')
        img(class='row-elem' src='images/movies/5 1.png')