include mixins.pug
section(class='actors')
    +read-more('Popular Actors & Directors  >')
    div(class='row hidden')
        img(src='./src/images/actors/Group 87.png' class='row-elem' alt='Samantha Bowen - actress' title='actress')
        img(src='./src/images/actors/Group 88.png' class='row-elem' alt='Rhys Birch - actor' title='actor')
        img(src='./src/images/actors/Group 89.png' class='row-elem' alt='James Holloway - actor' title='actor')
        img(src='./src/images/actors/Group 90.png' class='row-elem' alt='Joshua Walton - director' title='director')
        img(src='./src/images/actors/Group 91.png' class='row-elem' alt='Patrick Elliott - actor' title='actor')
        img(src='./src/images/actors/Group 92.png' class='row-elem' alt='Morgan O`Neill - director' title='director')
