footer(class='footer')
    a(class='logo' href='#header')
        img(src='./src/icons/Logo.png' alt='Mbox logo' title='Mbox logo')
    ul(class='footer-list')
        li(class='footer-link')
            a Voice over and Subtitle
        li(class='footer-link')
            a Media Center
        li(class='footer-link')
            a  Privacy
        li(class='footer-link')
            a  Contact us
    ul(class='footer-list')
        li(class='footer-link')
            a  Voice Description
        li(class='footer-link')
            a  Investor Relations
        li(class='footer-link')
            a Provisions
    ul(class='footer-list')
        li(class='footer-link')
            a Help Center
        li(class='footer-link')
            a Job Opportunities
        li(class='footer-link')
            a Cookies Preferences
    ul(class='footer-list')
        li(class='footer-link')
            a Gift Cards
        li(class='footer-link')
            a Terms of Use
        li(class='footer-link')
            a Corporate Informations
