include mixins.pug
section
    +read-more('Popular Genres >')
    div(class='genres')
        +genre-block('./src/icons/Group 35.png', 'var(--pink)', 'romance genre', 'romance genre')
        +genre-block('./src/icons/Group 37.png', 'var(--green)', 'drama genre', 'drama genre')
        +genre-block('./src/icons/Group 45.png', 'var(--violet)', 'historical genre', 'historical genre')
        +genre-block('./src/icons/Group 39.png', 'var(--bright-orange)', 'action genre', 'action genre')
        +genre-block('./src/icons/Group 41.png', 'var(--orange)', 'sci-fi genre', 'sci-fi genre')
        +genre-block('./src/icons/Group 33.png', 'var(--gray-blue)', 'horror genre', 'horror genre')
        +genre-block('./src/icons/Group 43.png', 'var(--yellow)', 'comedy genre', 'comedy genre')
        +genre-block('./src/icons/Group 44.png', 'var(--dark-blue)', 'documentary genre', 'documentary genre')
