header(class='header' id='header')
    a(class='logo' href='#header')
        img(src='./src/icons/Logo.png' alt='Mbox logo' title='Mbox logo')
    nav(class='header-nav')
        a(class='link header-link' href='#home') Home
        a(class='link  header-link' href='#TVShows') TV Shows
        a(class='link  header-link' href='#movies') Movies
        a(class='link  header-link' href='#series') Series
    div(class='header-icons')
        img(class='header-icon' src='./src/icons/Group 11.png' alt='search icon' title='search')
        img(class='header-icon' src='./src/icons/Group 18.png' alt='bell icon' title='notifications')
        img(class='header-icon' src='./src/icons/Group 19.png' alt='account icon' title='account')
