section(class='movie hidden')
    div(class='movie-info')
        h1(class='title-primary info-elem') Zack Snyder's Justice League
        ul(class='info-block info-elem')
            li(class='info-block__elem') 2021
            li(class='info-block__elem info-block__elem_bordered')  18+
            li(class='info-block__elem') 4h 2min
            li(class='info-block__elem') 8.8
                img(src='icons/Group.png')
        p(class='text info-elem')
            |Determined to ensure Superman's ultimate sacrifice was not in vain, Bruce Wayne
            |aligns forces with Diana Prince with plans to recruit a team
            |of metahumans to protect the world from an approaching threat of catastrophic proportions.
        div(class='btns info-elem')
            button(class='btn btn-blue') #[img(src='./src/icons/play.png')]
            button(class='btn btn-white ms-10') More information
    img(class='movie-img' src='./src/images/pexels-sebastiaan-stam-1480690 1.png' alt='Zack Snyder`s Justice League' title='Zack Snyder`s Justice League')
