include mixins.pug
section(class='shows')
    +read-more('Trending TV Shows >')
    div(class='row hidden')
        img(class='row-elem' src='./src/images/movies/1 9.png' alt='After' title='TV show')
        img(class='row-elem' src='./src/images/movies/2.png' alt='Emansipation' title='TV show')
        img(class='row-elem' src='./src/images/movies/6.png' alt='Dunkirk' title='TV show')
        img(class='row-elem' src='./src/images/movies/3.png' alt='The enormity of life' title='TV show')
        img(class='row-elem' src='./src/images/movies/4.png' alt='Vanitas' title='TV show')
        img(class='row-elem' src='./src/images/movies/5 1.png' alt='Something like perfect' title='TV show')
